.padelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
  overflow: hidden; /* Impede a rolagem */
  position: relative;
}

.centeredContent {
  position: absolute;
  top: 40%; /* Ajuste este valor conforme necessário para mover o conteúdo mais para cima */
  left: 50%;
  transform: translate(-50%, -50%);
}



.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padelImage {
  max-width: 50%; /* Aumente isso se necessário */
  width: auto;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.enterButton {
  background-image: url('../../assets/images/tennis-ball.png'); /* Certifique-se de que o caminho está correto */
  background-size: cover;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.enterButton:hover {
  transform: scale(2.0);
}
