.padelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padelImage {
  max-width: 50%;
  width: 1000px; /* Adjust this if necessary */
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative; /* Add this */
}

.buttonContainer {
  position: absolute; /* Add this */
  bottom: 0; /* Add this */
  right: -40; /* Add this */
  margin: 10px; /* Optional: Add some margin */
}

.enterButton {
  background-image: url('../../assets/images/tennis-ball.png'); /* Ensure the path is correct */
  background-size: cover;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.enterButton:hover {
  transform: scale(2.0);
}
