/* Reset some basic elements to ensure cross-browser consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f4f4f9;
  color: #333;
}

.padelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.centeredContent {
  max-width: 90%;
  width: 100%;
}

.titulo {
  font-size: 2rem;
  color: #2c3e50;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.padelImage {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.enterButton {
  background-image: url('../../assets/images/tennis-ball.png');
  background-size: cover;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.enterButton:hover {
  transform: scale(1.2);
}

/* Styles for Titulo component */
.container {
  width: 350px;
  height: 95px;
  background: linear-gradient(to right, #daefcd, #a8d5ba);
  padding: 1px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.distributeButton {
  position: relative;
  width: auto;
  height: 70px;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.tennisBall {
  width: 50px;
  height: 50px;
  background: linear-gradient(to right, #daefcd, #a8d5ba);
  border-radius: 50%;
  padding: 10px;
  transition: transform 1s ease-in-out; /* Adiciona uma transição suave */
}

.label {
  font-size: 25px;
  color: rgb(5, 5, 5);
  font-weight: bold;
  margin-left: 10px;
}
