.calculadora-container {
  /* padding: 20px;
  text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.main-content {
  /* display: flex;
  flex-direction: column;
  align-items: center;*/
  gap: 20px;
}

.jogadores-lista {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  /* margin-bottom: 20px; */

}

.jogadores-coluna {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.jogador-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.jogador-item label {
  margin-right: 10px;
}

.jogador-item input {
  padding: 5px;
  font-size: 16px;
}

.jogador-input {
  margin-right: 5px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.distribute-button, .scroll-to-top {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.distribute-button:hover, .scroll-to-top:hover {
  background-color: #45a049;
}

.fields-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.jogo {
  margin-bottom: 40px;
}

.campos {
  display: flex;
  justify-content: space-around;
}

.field {
  background-color: #bae4a1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
}

.field h2 {
  margin-top: 0;
}

.team {

  list-style-type: none;
  padding: 5px;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width:fit-content; /* Ajuste o valor conforme necessário */
}


.team.vencedor {
  background-color: #d4edda; /* Verde claro */
}

.team.perdedor {
  background-color: #f8d7da; /* Vermelho claro */
}

.team div {
  display: flex;
  align-items: center;
}

.team input.resultado-input {
  margin-left: 10px;
  width: 45px;
  padding: 5px;
  font-size: 16px;
}

.ranking-container {
  margin-top: 40px;
}

.ranking-container h2 {
  margin-bottom: 10px;
}

.ranking-container ul {
  list-style-type: none;
  padding: 0;
}

.ranking-container li {
  margin: 5px 0;
}
