.field {
  background: linear-gradient(to right, #c3e8ad, #a8d5ba);
  padding: 40px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 50%;
  min-width: 28px;
  margin: 5px; /* Added margin for extra spacing */
  cursor: default; /* Garantir que o cursor seja padrão para os campos */
}

.field h2 {
  margin-bottom: 16px;
  font-size: 1.5em;
  color: #333;
}

.field ul {
  list-style-type: none;
  padding: 0;
}

.field li {
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.field li div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field li span {
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.field li span:hover {
  background-color: #f0f0f0;
}

.resultado-input {
  width: 50px;
  padding: 4px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.trocar-jogadores-button {
  margin-top: 16px;

}
/* Media Queries for Mobile */
@media screen and (max-width: 767px) {
  .jogadores-lista {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
  }

  .field {
    background: linear-gradient(to right, #c3e8ad, #a8d5ba);
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    width: 25%;
    min-width: 28px;
    margin: 25px; /* Added margin for extra spacing */
    cursor: default; /* Garantir que o cursor seja padrão para os campos */
  }

  .campos {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .distribute-button, .scroll-to-top {
    width: 100%;
    font-size: 14px;
    padding: 8px 16px;
  }

  .team div {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .team input.resultado-input {
    margin-left: 80px;
    margin-top: 25px;
  }

  .ranking-container {
    flex-flow: column;
    margin-top: 40px;
  }

  .ranking-container h2 {
    margin-bottom: 10px;
  }

  .ranking-container ul {
    list-style-type: none;
    padding: 0;
  }

  .ranking-container li {
    margin: 5px 0;
  }
}
