.field {
  background: linear-gradient(to right, #c3e8ad, #a8d5ba);
  padding: 40px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 30%;
  min-width: 28px;
  margin: 25px; /* Added margin for extra spacing */
  cursor: default; /* Garantir que o cursor seja padrão para os campos */
}

.field h2 {
  margin-bottom: 16px;
  font-size: 1.5em;
  color: #333;
}

.field ul {
  list-style-type: none;
  padding: 0;
}

.field li {
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.field li div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field li span {
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.field li span:hover {
  background-color: #b12020;
}

.resultado-input {
  width: 50px;
  padding: 4px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.trocar-jogadores-button {
  margin-top: 16px;

}
