.field {
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.field h2 {
  margin-bottom: 16px;
  font-size: 1.5em;
  color: #333;
}

.field ul {
  list-style-type: none;
  padding: 0;
}

.field li {
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.field li div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field li span {
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.field li span:hover {
  background-color: #f0f0f0;
}

.resultado-input {
  width: 50px;
  padding: 4px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.trocar-jogadores-button {
  margin-top: 16px;
}
