.field {
  background: linear-gradient(to right, #c3e8ad, #a8d5ba);
  padding: 40px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 50%; /* Aumentar a largura para 50% */
  min-width: 300px; /* Ajustar a largura mínima para 300px */
  margin: 25px;
  cursor: default;
}

.field h2 {
  margin-top: 0;
}

.field ul {
  list-style-type: none;
  padding: 0;
}

.field li {
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.field li div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field li span {
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.field li span:hover {
  background-color: #f0f0f0;
}

.resultado-input {
  width: 50px;
  padding: 4px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.esperando {
  margin-top: 20px;
}

.esperando h3 {
  margin-bottom: 10px;
}

.esperando div {
  margin-bottom: 5px;
}
