.container {
  width: 100px;
  height: 100px;
  background-color: lightgreen;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.distributeButton {
  bottom: 100px; /* Ajuste a posição conforme necessário */
  left: 50%;
  transform: translateX(20%);
  width: auto;
  height: 70px;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; /* Altera para linha */
}

.tennisBall {
  width: 100px;
  height: 70px;

}

.label {
  font-size: 16px;
  color: rgb(5, 5, 5);
  font-weight: bold;
  margin-left: 2px; /* Espaço entre a bola e o texto */
}
