/* src/components/components_calculadora/DistributeButton.module.css */
.container {
  width: 350px;
  height: 95px;
  background: linear-gradient(to right, #daefcd, #a8d5ba);
  padding: 1px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.distributeButton {
  position: relative;
  width: auto;
  height: 70px;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.tennisBall {
  width: 50px;
  height: 50px;
  background: linear-gradient(to right, #daefcd, #a8d5ba);
  border-radius: 100%;
  padding: 10px;
  transition: transform 1s ease-in-out; /* Adiciona uma transição suave */
}

.tennisBall.rotate {
  transform: rotate(360deg); /* Roda a bola em 360 graus */
}

.label {
  font-size: 16px;
  color: rgb(5, 5, 5);
  font-weight: bold;
  margin-left: 10px;
}
