/* src/components/components_calculadora/ExportButton.module.css */

.export-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.exportButton {
  background: linear-gradient(to right, #daefcd, #a8d5ba);
  color: rgb(38, 39, 37);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition-duration: 0.4s;
}

.exportButton:hover {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}
