.selectorContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 10px; /* Diminuir o padding */
  background: linear-gradient(to right, #daefcd, #a8d5ba);
  border-radius: 15px; /* Diminuir o border-radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Diminuir o box-shadow */
  user-select: none;
  max-width: 600px; /* Diminuir a largura máxima */
  margin: 0 auto;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 5px; /* Diminuir o padding */
  border-radius: 10px; /* Diminuir o border-radius */
  background: linear-gradient(to right, #daefcd, #a8d5ba);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Diminuir o box-shadow */
  min-height: 80px; /* Diminuir a altura mínima */
  min-width: 80px; /* Diminuir a largura mínima */
}

.option:hover {
  transform: translateY(-5px); /* Diminuir o translateY */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Diminuir o box-shadow */
}

.bolaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Diminuir a largura */
  height: 40px; /* Diminuir a altura */
  margin-bottom: 5px; /* Diminuir a margem */
}

.bola {
  width: 40px; /* Diminuir a largura */
  height: 40px; /* Diminuir a altura */
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Diminuir o box-shadow */
  transition: transform 0.3s ease;
}

.option:hover .bola {
  transform: rotate(360deg);
}

.optionText {
  font-size: 14px; /* Diminuir o tamanho da fonte */
  color: #00796b;
  font-weight: bold;
  text-align: center;
}
