
.trocarJogadoresButton {
  background: linear-gradient(to right, #daefcd, #83d1a2);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-size);
  margin-top: 10px;
  transition-duration: 0.4s;
}

.trocarJogadoresButton:hover {
  background-color: #45a049;
}
